@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'DM Sans', sans-serif;
}

/* :root {
    --background-color: #274D8F;
} */

img {
    max-width: 100%;
}


/*---------------------------- header -------------------*/
header{
    margin-top: 20px;
}

.navbar{
    display: flex;
    justify-content: space-around;
}

ul{
    display: flex;
    gap: 40px;
}


.hero {
    display: flex;
    gap: 30px;
    justify-content: center;
    /* margin-top: 150px; */
    /* background-color: #F9FCFA; */
}


/* .hero-content h4 {
    font-weight: 700;
    font-size: 14px;
    line-height: 40px;
    letter-spacing: 2.1px;
    text-transform: uppercase;
    color: #244886;
} */

.hero-content{
    align-self: center;
}

.hero-content h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 55px;
    letter-spacing: -1.5px;
    color: #0F2137;
}

.hero-content p {
    font-weight: 400;
    font-size: 18px;
    line-height: 42px;
    color: #02073E;
    margin: 20px 0;
}

.hero-content a {
    color: white;
    background-color: #1F3E76;
    padding: 8px 20px;
    border-radius: 20px;
    text-decoration: none;
}

.hero-img {
    /* margin-top: 20px; */
    /* margin-left: 30px; */
    max-width: 40%;
}


/* main */

.container {
    max-width: 80%;
    margin: 0 auto;
}

.hero-container {
    margin-top: 40px;
}

.content {
    text-align: center;
}

.content p {
    color: #244886;
    font-weight: 700;
    font-size: 14px;
    line-height: 40px;
    letter-spacing: 2.1px;
    text-transform: uppercase;
    animation-delay: .1s;
}

.content h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 55px;
    letter-spacing: -1.5px;
    color: #0F2137;
}


.boxes {
    display: flex;
}

.box {
    padding: 80px;
}

.box>* {
    text-align: center;
}

.box-img img {
    width: 50px;
    height: 30px;
    border-radius: 25px;
    padding: 20px 20px;
    background-color: #E4FFEE;
    color: #40975F;
}

.box-img-1 img {
    width: 50px;
    height: 30px;
    border-radius: 25px;
    padding: 20px 20px;
    background-color: #EBF1FF;
}

.box-img-2 img {
    width: 50px;
    height: 30px;
    border-radius: 25px;
    padding: 20px 20px;
    background-color: #FFECEF;
}

.box-text h4 {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    color: #0F2137;
    margin: 10px 0;
}

.box-text p {
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    color: #343D48;
}


/*--------------------------- agency section------------------- */

.features {
    display: flex;
    margin-top: 110px;
    justify-content: center;
    gap: 80px;
}

.core-feature h6 {
    font-weight: 700;
    font-size: 14px;
    line-height: 40px;
    letter-spacing: 2.1px;
    text-transform: uppercase;
    color: #244886;

}

.core-feature h3 {
    font-weight: 700;
    font-size: 44px;
    line-height: 55px;
    letter-spacing: -1.5px;
    color: #0F2137;
    margin-bottom: 20px;
}

/* ------------------creative section---------------------- */

.fourth-features {
    display: flex;
    justify-content: center;
    margin-top: 150px;
    background-color: #F9FCFA;
}


.fourth-features-content h4 {
    font-weight: 700;
    font-size: 14px;
    line-height: 40px;
    letter-spacing: 2.1px;
    text-transform: uppercase;
    color: #244886;
}

.fourth-features-content h3 {
    font-weight: 700;
    font-size: 48px;
    line-height: 55px;
    letter-spacing: -1.5px;
    color: #0F2137;
}

.fourth-features-content p {
    font-weight: 400;
    font-size: 18px;
    line-height: 42px;
    color: #02073E;
    margin: 20px 0;
}

.fourth-features-content a {
    color: white;
    background-color: #1F3E76;
    padding: 8px 20px;
    border-radius: 20px;
    text-decoration: none;
}

.fourth-features-img {
    /* margin-top: 20px; */
    margin-left: 30px;
}


/* ---------------------work section-------------------*/
.working-section {
    background-color: #3FDBB1;
    margin-top: 150px;
}

.work{
    /* justify-self: center; */
    text-align: center;
}

.working-section img {
    max-width: 40%;
}

.working {
    display: flex;
    gap: 50px;
    justify-content: center;
    color: white;
    padding: 20px 0;
}

/* team section */
.team-section{
    margin-top: 100px;
}

.team{
    display: flex;
    gap: 30px;
    justify-content: center;
}

.card{
    background-image: url(images/Rectangle\ 8437.png);
    /* background-color: beige; */
    justify-content: center;
    padding: 20px;
    /* border: 1px solid black; */
}

.card img{
    border-radius: 50%;
    text-align: center;
}

.text{
    text-align: center;
}

.icon{
    background-color: #40975F;
    color: white;
}

.icon i{
    gap: 40px;
    background-color: #40975F;
    justify-content: center;
}

/* blog-section */
.blog-section h2, h6{
    text-align: center;
}

.blogs{
    display: flex;
    justify-content: center;
}

/* .blog{
    background-color: #E4FFEE;
} */

.blog img{
    max-width: 80%;
    border-radius: 7px;
}

.business{
    display: flex;
    gap: 20px;
}

.busines, .admin{
    display: flex;
    gap: 6px;
}

/* ------------------footer section ------------------------*/
.footer-container {
    margin-top: 80px;
}

.footer-content {
    text-align: center;
}

.footer-content p {
    font-weight: 700;
    font-size: 14px;
    line-height: 40px;
    letter-spacing: 2.1px;
    text-transform: uppercase;
    color: #254887;
}

.footer-content h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -1.5px;
    color: #0F2137;
}

.footer-content a {
    color: white;
    background-color: #1F3E76;
    padding: 10px 25px;
    border-radius: 40px;
    text-decoration: none;
    line-height: 80px;
}

.footer-text {
    display: flex;
    justify-content: space-evenly;
    margin: 60px 0;
}

.texts-logo{
    display: flex;
    gap: 20px;
}

.texts-logo img{
    max-width: 75%;
}


.texts h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.5px;
    color: #0F2137;
    margin-bottom: 30px;
}

.texts p {
    font-weight: 400;
    font-size: 16px;
    line-height: 230%;
    color: #02073E;
    opacity: 0.8;
}

