@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

img {
    max-width: 100%;
}


/* header */
header {
    padding-top: 20px;
    background: linear-gradient(80.48deg, rgba(254, 149, 21, 0.05) 0%, rgba(47, 199, 161, 0.05) 99.52%);
}

.navbar {
    display: flex;
    justify-content: space-around;
}

.navbar ul {
    display: flex;
    gap: 40px;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    cursor: pointer;
    font-weight: 500;
}

.navbar ul li a:hover {
    color: #FF553E;
}

.bx-search {
    font-size: 22px;
}

.bx-menu {
    color: #FF553E;
    font-size: 28px;
}

/* hero section */
.hero {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.hero-content {
    align-self: center;
}

.hero-content h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 55px;
    letter-spacing: -1.5px;
    color: #0F2137;
}

.hero-content p {
    font-weight: 400;
    font-size: 18px;
    line-height: 42px;
    color: #02073E;
    margin: 20px 0;
}

.hero-content a {
    color: white;
    background-color: #FF553E;
    padding: 8px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.hero-img {
    max-width: 40%;
}


/* main */
/* agency section */
.agency-section {
    max-width: 80%;
    margin: 0 auto;
}

.agency {
    display: flex;
    margin-top: 110px;
    justify-content: center;
    gap: 80px;
}

.agency-feature .about {
    color: #FF553E;
    position: relative;
}

.agency-feature .about::before {
    content: "";
    background-color: #FF553E;
    width: 52px;
    height: 1px;
    top: 27px;
    left: -2px;
    position: absolute;
}



.agency-feature h3 {
    font-weight: 700;
    font-size: 44px;
    line-height: 55px;
    letter-spacing: -1.5px;
    color: #0F2137;
    margin-bottom: 20px;
    margin-top: 10px;
}

.agency-content a {
    color: white;
    background-color: #FF553E;
    padding: 8px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.drag {
    display: flex;
    gap: 10px;
}

.drag-option {
    padding: 20px 0;
}

.drag-icon {
    margin-top: 2px;
    color: #3FDBB1;
    font-size: 24px;
}

.drag-text p {
    font-weight: 400;
    font-size: 16px;
}

/* creative section */
.creative-section {
    margin-top: 85px;
    padding: 20px;
    background: linear-gradient(80.48deg, rgba(254, 149, 21, 0.04) 0%, rgba(47, 199, 161, 0.04) 99.52%);
}

.creative {
    max-width: 80%;
    margin: 0 auto;
}

.drags {
    margin-top: 10px;
}

.agency-img {
    margin-top: 20px;
}

/* work section */
.working-section {
    justify-content: center;
    margin-top: 150px;
}

.work {
    text-align: center;
    padding-top: 50px;
    height: 200px;
}

.work-img {
    max-width: 40%;
    border:10px solid #FE9515;
    border-radius: 20px;
    margin-bottom: -235px;
    justify-self: center;
    margin-left: 410px;
}

.working {
    display: flex;
    gap: 50px;
    justify-content: center;
    background-color: #3FDBB1;
    padding: 20px 0;
    height: 110px;
    padding-top: 263px;
    color: white;
}

/* team section */
.team-section {
    margin:100px 0;
    margin-top: 400px;
}

.team {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.card {
    justify-content: center;
    padding: 20px;
}

.card img {
    border-radius: 50%;
    text-align: center;
}

.text {
    text-align: center;
}

.icon {
    background-color: #40975F;
    color: white;
    border-radius: 7px;
    margin-top: 5px;
}

.icon i {
    background-color: #40975F;
    justify-content: center;
    padding: 0 5px;
}

/* blog-section */
.blog-section h2,
h6 {
    text-align: center;
}

.blog-section h6{
    color:#FF553E;
    position: relative;
}

.blog-section h6::before{
    content: "";
    width: 33px;
    height: 1px;
    top: 17px;
    left: 652px;
    position: absolute;
    background-color: #FF553E;
}

.blog-section h2{
    margin: 20px 0;
}

.blog p{
    margin: 5px 0;
}

.blogs {
    display: flex;
    justify-content: center;
}

.blog img {
    max-width: 80%;
    border-radius: 7px;
}

.business {
    display: flex;
    gap: 20px;
}

.busines,
.admin {
    display: flex;
    gap: 6px;
}

.bx{
    color: #FF553E;
    margin-top: 8px;
}

/* footer section */
footer{
    background-color: #2B2F3E;
    color: white;
    padding: 1px 0;
    margin-top: 80px;
}

.footer-container {
    margin-top: 80px;
}

.footer-content {
    text-align: center;
}

.footer-content p {
    font-weight: 700;
    font-size: 14px;
    line-height: 40px;
    letter-spacing: 2.1px;
    text-transform: uppercase;
}

.footer-content h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -1.5px;
}


.footer-text {
    display: flex;
    justify-content: space-evenly;
    margin: 60px 0;
}

.texts-logo {
    display: flex;
    gap: 20px;
}

.open{
    color: #FF553E;
}

.texts-logo img {
    max-width: 75%;
}


.texts h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.5px;
    /* color: #0F2137; */
    margin-bottom: 30px;
}

.texts p {
    font-weight: 400;
    font-size: 16px;
    line-height: 230%;
    /* color: #02073E; */
    opacity: 0.8;
}

.texts input{
    padding: 5px 0;
}

.bx-send{
    background-color: #FF553E;
    color: white;
    padding: 6px;
}

.social-icon .bx{
    color: white;
    margin-right: 7px;
}

/* media screen */
@media (max-width:768px) {
    .navbar ul {
        display: none;
    }

    .hero {
        display: block;
        text-align: center;
        margin-top: 30px;
    }

    .hero-img {
        margin-left: 250px;
        margin-top: 40px;
    }

    .agency {
        display: block;
    }

    .agency-img {
        max-width: 80%;
        margin-left: 50px;
    }

    .agency-content {
        justify-content: center;
    }
/* 
    .team {
        display: block;
    } */

    .blog-section h6::before{
        left: 362px;
    }

    .blogs{
        display: grid;
    }

    .blog{
        margin-bottom: 40px;
    }

    .footer-text {
        display: block;
        text-align: center;
    }

    .texts{
        margin-bottom: 45px;
    }

    .texts-logo{
        margin-left: 300px;
        margin-bottom: 30px;
    }
    
    .work-img {
        margin-left: 200px;
    }
    
    .working {
        padding-top: 263px;
    }
    
}